<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
  <input type="text" [(ngModel)]="value">
  <button (click)="setSymbol()">Submit</button>

<div *ngIf="errorFlag">
  <p>{{error}}</p>
</div>

<div fxLayout="row wrap" fxLayoutGap="10%" fxLayoutAlign="start">
    <app-sto-data *ngIf="flag" fxFlex="25"></app-sto-data> 
    <app-chart *ngIf="flag" fxFlex="60"></app-chart>
</div>

<div fxLayout="row" fxLayoutGap="10%">
  <app-chart-volume *ngIf="flag" fxFlex="20" class="lauren"></app-chart-volume>
  <app-ohlc *ngIf="flag" fxFlex="20"></app-ohlc>
</div>
